APP_NAME=Staffy API
APP_ENV=development
DATABASE_URL=sqlite:///./app/data/db.sqlite3
# DATABASE_URL=postgresql+psycopg://usuario:password@localhost:5432/staffy
FRONTEND_URL=http://localhost:5173
AUTH_SECRET=cambia-esta-clave-en-produccion
AUTH_TOKEN_HOURS=8
